.article-recent {
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
    text-align: left;
  }

  @media (min-width: 675px) {
    .article-recent {
      flex-direction: row;
      justify-content: space-between;
    }
}